
	<div class="row">
		<nav>
			<div class="nav-wrapper blue lighten-2">
			  <a href="#" class="brand-logo center"><h5>Nuevo criterio</h5></a>
			</div>
		</nav>
	</div>


  <div class="row">
    <div class="col m6 offset-m3">
      <div class="row">
        <div class="input-field col m12">
          {{input type="text" value=model.nombre class="validate"}}
          <label for="Nuevo criterio">Nuevo criterio</label>
        </div>
      </div>
      <div class="row">
        <div class="col m6">
          <div class="switch">
            <label>
              Cualitativo
              {{input type="checkbox" checked=model.isCuantitativo}}
              <span class="lever"></span>
              Cuantitativo
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col m12">
          <label for=""><h6>MEJOR calificación es otorgada al valor</h6></label>
        </div>
        <div class="col m12">
          <select class="browser-default" onchange={{action (mut model.cal) value="target.value"}}>
            <option disabled selected>Selecciona</option>
            {{#each categories as |categoryChoice index|}}
              <option value={{index}} selected={{eq model.cal categoryChoice}}>{{categoryChoice.nombre}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <button {{action 'save' model}} class="btn waves-effect waves-light cyan darken-4">
            <i class="material-icons right">add_circle</i>
            Confirmar
          </button>
        </div>
      </div>
      {{!-- {{#unless model.isCuantitativo}}
      <div class="row">
        <div class="col m12">
          <label>Categorías para criterios cuanlitativos</label>

          <select class="browser-default" onchange={{action (mut model.cal) value="target.value"}}>
            <option disabled selected>Selecciona</option>
            {{#each categories as |categoryChoice index|}}
              <option value={{index}} selected={{eq model.cal categoryChoice}}>{{categoryChoice.nombre}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      {{else}}
        <div class="row">
          <div class="input-field col m12">
            {{input type="text" value=model.valor class="validate"}}
            <label for="Nuevo criterio">Valor</label>
          </div>
        </div>

      {{/unless}} --}}





    </div>
  </div>

    <footer class="page-footer blue lighten-1">
		<div class="row">
			<div class="col s2 offset-s1">
				{{#link-to 'criterio' tagName="button" class= "btn waves-effect waves-light blue lighten-1"}}<i class="material-icons right">arrow_back</i>{{/link-to}}
			</div>
		</div>
	</footer>
